@use "_vars" as *;
@use "_typesetting";

.first-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-image: url('/assets/images/bg-white-stripes.svg');
  background-color: #9bcde6;
  background-repeat: repeat;
}

.first-page-float {
  max-width: 1000px;
  margin: $paragraph-gap * 0.5;
  padding: $paragraph-gap;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

  h1 {
    text-align: center;
  }
}

.language-list {
  list-style-type: none;
  margin-left: 0;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 $font-size * 0.5;
  }
}

nav>ul {
  @extend .language-list;
}

.content-wrapper {
  margin: $paragraph-gap auto;
  padding: 0 $paragraph-gap;
  max-width: 800px;
}

footer {
  margin-top: $paragraph-gap * 2;
  padding-top: $paragraph-gap;
  border-top: 3px solid #a24482;
}
